<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Espace Pro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<!--FEUILLES DE STYLES-->
	<!--css communes-->
	<link  href="styles/_actions.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_article.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_boutons.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_bulles.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_cadres.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_concertation.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_corpsDePage.css" rel="stylesheet" type="text/css" media="screen"/>	
	<link  href="styles/_entete.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_entete_rubrique.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_etapes.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- 	<link  href="styles/_fenetres.css" rel="stylesheet" type="text/css" media="screen"/> -->
	<link  href="styles/_fichiersExternes.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_formulaires.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_general.css" rel="stylesheet" type="text/css" media="screen"/>	
	<link  href="styles/_graphes.css" rel="stylesheet" type="text/css" media="screen"/>	
	<link  href="styles/_legendes.css" rel="stylesheet" type="text/css" media="screen"/>	
    <link  href="styles/_menus.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_messages.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_piedsDePage.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_popIn.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_popUp.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/_tableaux.css" rel="stylesheet" type="text/css" media="screen"/>
	
	<!--css spécifiques-->
	<link  href="styles/accueil.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/basic-jquery-slider.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/connexion.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/serveurIndispo.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/infosPatients.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/aat2.css" rel="stylesheet" type="text/css" media="screen"/>
	<link  href="styles/jquery-ui.css" rel="stylesheet" type="text/css" media="screen"/>
	
	<!--JAVASCRIPTS-->
	<script type="text/javascript" src="js/menus.js"></script>
	<script type="text/javascript" src="js/menuContextuel.js"></script>
	<script type="text/javascript" src="js/menuIndicateurs.js"></script>
	<script type="text/javascript" src="js/menuIndicateurs_orgCab.js"></script>
	<script type="text/javascript" src="js/plierDeplier.js"></script>
	<script type="text/javascript" src="js/plierDeplierEchange.js"></script>
	<script type="text/javascript" src="js/blocDepliant.js"></script>
	<script type="text/javascript" src="js/graphes_afficherCacher.js"></script>	
	<script type="text/javascript" src="js/openPopup.js"></script>

	<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
	<script type="text/javascript" src="js/jquery.accentFolding.js"></script>
	<script type="text/javascript" src="js/jquery.localScroll.min.js"></script>

	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/tablesort.js"></script>
	<script type="text/javascript" src="js/basic-jquery-slider.js"></script>
	<script type="text/javascript" src="js/placeholder.js"></script>
	<script type="text/javascript" src="js/select-placeholder.js"></script>
	<script type="text/javascript" src="js/highcharts.js"></script>	
	<script type="text/javascript" src="js/datetimepicker_css.js"></script>	
	<script type="text/javascript" src="js/PIE.js"></script>
	<script type="text/javascript" src="js/popIn.js"></script>
	<script type="text/javascript" src="js/aat.js"></script>
</head>


<body id="top" name="top">

<!--PAGE-->
<div id="page">
	<!--ZONE ACTIONS-->
	<div id="actions">    	
        <div id="derniereConnexion">Dernière connexion : <b>02/05/2015 - 10:00</b></div>
        <div id="btDeconnexion"><a class="btDeconnexion" href="#"><span>Déconnexion</span></a></div>
    </div>

	<!--ENTETE-->
	<div id="header">
		<h1>Mon Espace Pro</h1>
        <div id="profession"><div class="zoneTexte">Médecin</div></div>
        <div id="identification">
        	<form action="" method="get">
                <p><b>Dr Pierre DUPONT</b></p>
                <p>Cabinet, num PS</p>
                <p>120, avenue Gambetta</p>
                <p>75000 PARIS</p>
			</form>
        </div>
	</div>
	<!--FIN ENTETE-->
    
    
    <!--MENUS-->
	<div id="menus">
		<h1>Menus</h1>
       	<ul id="menu" class="menu">
        	<li class="actif"><a href="#" class="retAccueil"></a></li>			
			<li><a href="#" class="sousMenus">Services patient</a>
				<!--[if lt IE 7]><iframe></iframe><![endif]-->	
				<ul>
					<li><a href="#">Avis d’arrêt de travail</a></li>
					<li><a href="#">ALD / protocole de soins du patient</a></li>
					<li><a href="#">Certificats médicaux ATMP</a></li>
					<li><a href="#">Demande d’accord préalable</a></li>
					<li><a href="#">Suivi patient</a></li>
					<li><a href="#">Historique des remboursements</a></li>
					<li><a href="#">Compteur d’actes de masso-kinésithérapie</a></li>
				</ul>
			</li>
            <li><a href="#" class="sousMenus">Activités</a>
				<!--[if lt IE 7]><iframe></iframe><![endif]-->	
				<ul>
                	<li class="soustitre">Paiements</li>
					<li><a href="#">Tiers Payant : Recherche par date de paiements</a></li>
					<li><a href="#">Tiers Payant : Recherche par date d'actes</a></li>
					<li><a href="#">Relevés mensuels de paiements</a></li>
					<li><a href="#">Rémunération spécifique médecin traitant ALD</a></li>
					<li><a href="#">Aides à la télétransmission</a></li>
					<li><a href="#">Gardes et astreintes</a></li>
					<li><a href="#">Indus</a></li>
					<li><a href="#">Relevé d'honoraires</a></li>	
					
                	<li class="soustitre">Pratiques</li>
					<li><a href="#">Le CAPI</a></li>
					<li><a href="#">Patientèle médecin traitant</a></li>
					<li><a href="#">Relevé individuel d'activité et de prescriptions</a></li>
					<li><a href="#">Déclarer un décès à l'INSERM</a></li>
					<li><a href="#">Netgarde : Gestion des gardes et astreintes</a></li>
				</ul>		
			</li>
			<li><a href="#" class="sousMenus">Gestion du compte</a>
				<!--[if lt IE 7]><iframe></iframe><![endif]-->	
				<ul>
					<li><a href="#">Code d'accès</a></li>
					<li><a href="#">Question clé</a></li>
					<li><a href="#">Adresse électronique</a></li>
					<li><a href="#">Informations personnelles</a></li>
					<li><a href="#">Service info paiements</a></li>
				</ul>
			</li>
			<li><a href="#" class="sousMenus">Commandes</a>
				<!--[if lt IE 7]><iframe></iframe><![endif]-->	
				<ul>
					<li><a href="#">Commander des imprimés</a></li>
					<li><a href="#">Historique des commandes</a></li>
					<li><a href="#">Formulaires en ligne</a></li>
					<li><a href="#">Tests de diagnostic rapide angine</a></li>
				</ul>
			</li>
			<li><a href="#" class="sousMenus">Boîte à info</a>
				<!--[if lt IE 7]><iframe></iframe><![endif]-->	
				<ul>
					<li><a href="#">Nomenclature des actes CCAM</a></li>
					<li><a href="#">Référentiels HAS</a></li>					
					<li><a href="#">ameli.fr</a></li>
				</ul>
			</li>
			<li><a href="#" class="sousMenus">Échanges</a>
				<!--[if lt IE 7]><iframe></iframe><![endif]-->	
				<ul>
					<li><a href="#">Trouver un interlocuteur</a></li>
					<li><a href="#">Contacter l'Assurance Maladie par courriel</a></li>					
					<li><a href="#">Support technique</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--MENUS-->
	
    
    <!--CORPS DE PAGE-->
	<div id="corpsDePage">
		
    	<!--colonne de gauche-->
		<div id="colonneGauche">
            <!--cadres-->			
			<div class="cadreXL">               
                <div class="cadreAngleHD">
                    <div class="cadreAngleBG">
                    	<div class="cadreAngleBD">                  
                    		<div class="zoneContenus">
                                <!--CONTENUS CADRE-->
								<form action="" method="">																													
									<div class="blocGris">
										<div class="eom">
											<p class="bold">Saisissez le motif ou recherchez dans la liste :</p>
											<img class="btAide" src="images/aide.gif" alt="Bouton Aide"/>
										</div>
										<div id="divSaisieMotif">
											<label id="titreMotif" for="" class="champ alignDroit lg30">Motif de l'arrêt de travail<span class="obligatoire"></span>:</label>
																						
											<div id="champSaisie" class="champSaisie inlineBlock">												
												<input id="champMotif" type="text" name="" size="40" value="" title="" class="" placeholder="Ex. : grippe, fracture, grossesse"/>
												<script type="text/javascript" src="js/placeholder.js"></script>
												<script type="text/javascript">
													window.onload = function(){
														inputPlaceholder(document.getElementById('champMotif'));
													};
												</script>
												<div class="actionsSaisie">
													<span id="btAnnulerSaisie" class="btValiderSaisie" onclick="validationSaisie()"></span>
												</div>
											</div>
											<span id="idListeMotif" class="lienListeMotifs">&nbsp;>&nbsp;<a href="#" title="" onclick="afficheListeMotifs()">Liste des motifs</a></span>
											<div id="apres" class="apresSaisi inlineBlock">
													<span id="motifSelectionne" style="font-weight: bold;"></span><span id="resultat" class="btnAnnulerSaisie" onclick="reInitChamp();"></span>
													<p id ="message_ocre" class="message_ocre">Le motif saisi est inconnu, veuillez choisir dans la liste ci-dessous </p>
											</div>
<!-- 											<div class="motifSaisi">	 -->
<!-- 												<span id="motifSelectionne" class="resultat"></span><span id="resultat" class="btAnnulerSaisie" onclick="reInitChamp();"></span> -->
<!-- 												<p id ="message_ocre" class="message_ocre">Le motif saisi est inconnu, veuillez choisir dans la liste ci-dessous </p> -->
<!-- 											</div> -->
											
											<div id="listeCategorie" style="display:none">
												<label class="champ alignDroit lg30">Motif<span class="obligatoire"></span>:</label>
												<select id="categorie" class="cChamp lg50" onchange="choisirCategorie();">
												</select>
											</div>
										</div>
										<div>
											<label for="" class="champ alignDroit lg30">Complément d'information<span>&nbsp;</span>:</label>
											<div id="crayonCompl" class="item_blocDepliable" style="display: inline-block;">
												<img class="lienPicto" onclick="afficherSaisieCompl();" src="images/picto_modifier_plus.png" id="" alt="" />
											</div>
											<div id="saisiComplInfo" class="champLong lg69" style="display: none;">
												<textarea id="champTexteLong" class="champTexteLong" name="" value="" rows="2"></textarea>
												<div class="nbCaracteres">0/100 caractères</div>
											</div>
										</div>
									</div>
									
									<br/>
									<div id="resultatDuree" class="resultatDuree inactif">
									</div>
									<br/>
									<br />
								</form>
							</div>
						</div>
                    </div>
				</div>
				
				<div class="fond_popIn" id="popIn_listeMotifs" style="display:none;">
					<div class="popIn">
						<div class="popIn_entete">
							<h2>Espace pro</h2>
							<img src="images/windowClose.gif" alt="Bouton fermer la fenêtre" onClick="cacheListeMotifs()"/>
						</div>
						<div class="popIn_contenu">
							<div class="titreBlanc">
								<div class="titreBlancBordGauche"></div>
								<div class="titreBlancFond"><h3>Liste des motifs</h3></div>
								<div class="titreBlancBordDroit"></div>
							</div>
							<div class="cadreFenetre">               
								<div class="cadreAngleHD">
									<div class="cadreAngleBG">
										<div class="cadreAngleBD">                  
											<div class="zoneContenus">
												<p><b>Recherchez un motif par choix alphabétique :</b></p>
												<ul id="alphabet" class="alphabet">
												</ul>
												<div class="separateurGroupeElements560"></div>
												<div id="blocMotifs" class="blocMotifs">
													
												</div> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			
		</div>
        <!--fin colonne de gauche-->        
        <!--colonne de droite-->
		<div id="colonneDroite">
        	<div class="titreBleu">
                <div class="titreBleuBordGauche"></div>
                <div class="titreBleuFond"><h3>Identification Patient</h3></div>
                <div class="titreBleuBordDroit"></div>
            </div>
			<div class="cadreDroite">               
                <div class="cadreAngleHD">
                    <div class="cadreAngleBG">
                    	<div class="cadreAngleBD">                  
                    		<div class="zoneContenus">
                                <!--CONTENUS CADRE-->
                                <form action="" method="">								
									<div id="donneesPatient">	
										<div><label for="nom" class="resultat" >Nom :</label><span id="nom" class="resultat majuscule">Dupont</span></div>
										<div><label for="prenom" class="resultat" >Prénom :</label><span id="prenom" class="resultat ">Marie</span></div>
										<div><label for="nir" class="resultat" >NIR :</label><span id="nir" class="resultat ">2510775110015 - 17</span></div>
										<div><label for="dateNaissance" class="resultat" >Né(e) le :</label><span id="dateNaissance" class="resultat ">18/07/1942</span></div>
										<div><label for="rang" class="resultat" >Rang :</label><span id="rang" class="resultat ">1</span></div>
										<div><label for="regime" class="resultat" >Régime :</label><span id="regime" class="resultat ">Régime Général</span></div>
										<div><label for="caisse" class="resultat" >Caisse de rattachement :</label><span id="caisse" class="resultat ">CPAM Paris</span></div>
									</div>
									<br />
									<div id="droits">
										<div><label for="centreGestion" class="resultat" >Centre de gestion :</label><span id="centreGestion" class="resultat majuscule">0000</span></div>
										<div><label for="dateDroit" class="resultat" >Droit à la date du jour :</label><span id="dateDroit" class="resultat ">*</span></div>
										<div><label for="exoneration" class="resultat" >Exonération :</label><span id="exoneration" class="resultat majuscule">*</span></div>
										<div><label for="acs" class="resultat" >ACS :</label><span id="acs" class="resultat ">*</span></div>
										<div><label for="cmuc" class="resultat" >CMUC :</label><span id="cmuc" class="resultat ">*</span></div>
										<div><label for="ame" class="resultat" >AME :</label><span id="ame" class="resultat ">*</span></div>
										<div><label for="mt" class="resultat" >MT :</label><span id="mt" class="resultat ">NON</span></div>
										<div class="message_bleu">* Information non disponible pour ce régime ou ce patient.</div>
									</div>									
									<br />
									<p><a href="#" title="" alt="">Insérer la carte vitale d'un autre patient</a> ou <a href="#" title="" alt="">Saisir le NIR d'un autre patient</a></p>
																	
									   
									<div id="groupeBoutons" class="groupeBoutons">
										<div class="alignDroite">
											<a href="#" title="#"><img src="images/imprimer.gif" alt="bouton impression"/></a>
											<a href="#" title="#"><img src="images/aide.gif" alt="bouton aide"/></a>
										</div>
									</div>
								</form>
                    		</div>
							<div class="clearFloat"></div> 
						</div>
                    </div>
				</div>
            </div>
            
            <!--Gestion des float-->
            <div class="clearFloat">
            </div>  
        </div>
		
		
			
			
        <!--fin colonne de droite-->
		
		
        	
	</div>
	<!--FIN CORPS DE PAGE-->


	<!--PIEDS DE PAGE-->
	<div id="footer">
		<h2>Les liens pratiques</h2>
		<div id="liensGauches">
			<ul>
				<li><a href="#" title="numéro de version" accesskey="7">n° version</a></li>
				<li><a href="#" title="informations légales" accesskey="3">informations légales</a></li>
				<li class="vosTelechargements"><a href="#" title="vos téléchargements" accesskey="4">vos téléchargements</a></li>
			</ul>
		</div>
		<div id="prerequis">
			<a href="" title=""><img src="images/get_adobe_reader.png" alt="Bouton Acrobar Reader" /></a>
			<a href="" title=""><img src="images/get_adobe_flash_player.png" alt="Bouton Flash Player" /></a>
			<a href="" title="">Pré-requis</a>
		</div>
	</div>
	<!--FIN PIEDS DE PAGE-->
</div>
<!--FIN PAGE-->

</body>

</html>
