<article class="avis">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

            <h2 class="text-center titre-page-test">
                Merci de votre collaboration !
                <br/>
                 Veuillez partager votre avis.
            </h2>

            <div class="panel panel-default spacer">
                <div class="panel-heading">
                    <h3 class="text-center">La recherche des motifs d’Arrêt de travail</h3>
                </div>
                <div class="panel-body">


                    <div class="row spacer">
                        <div class="col-xs-8 col-xs-offset-2 no-padding">

                            <div class="row">
                                <div class="col-xs-12 col-sm-9 small-spacer texte-courant-semi-gras">
                                    La recherche des motifs vous paraît-elle plus adaptée à vous besoins ?
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div id="options-avis-recherche-1">
                                        <span data-parent="#options-avis-recherche-1" class="capsule capsule-jaune">OUI</span>
                                        <span data-parent="#options-avis-recherche-1" class="capsule capsule-jaune">NON</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-9 small-spacer texte-courant-semi-gras">
                                    L’affichage des motifs les plus fréquents est-il utile ?
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div id="options-avis-recherche-2">
                                        <span data-parent="#options-avis-recherche-2" class="capsule capsule-jaune">OUI</span>
                                        <span data-parent="#options-avis-recherche-2" class="capsule capsule-jaune">NON</span>
                                    </div>
                                </div>
                            </div>

                            <div class="spacer">
                                <p class="texte-courant-semi-gras">De quelles autres améliorations auriez-vous besoin ?</p>
                                <textarea class="form-control" rows="5" placeholder="Vos commentaires..."></textarea>
                            </div>


                            <div class="spacer text-center">
                                <a class="btn btn-default" href="remerciements.html">
                                    ENVOYER
                                </a>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</article>