<article class="avis">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default spacer">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="no-margin"><span class="pictogramme-svg-votre-avis big"></span>&nbsp;&nbsp;VOTRE AVIS</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="hidden-xs col-xs-4 col-xs-offset-6">
                            <div class="texte-jaune-2 text-center">Êtes-vous satisfait ?</div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 small-spacer texte-courant-semi-gras">
                            Recherche facile à utiliser
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div id="options-avis-recherche-1">
                                <span data-parent="#options-avis-recherche-1" class="capsule capsule-jaune">OUI</span>
                                <span data-parent="#options-avis-recherche-1" class="capsule capsule-jaune">NON</span>
                                <span data-parent="#options-avis-recherche-1" class="capsule capsule-jaune">EN PARTIE</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 small-spacer texte-courant-semi-gras">
                            Pertinence des motifs retournés suite à votre saisie
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div id="options-avis-recherche-2">
                                <span data-parent="#options-avis-recherche-2" class="capsule capsule-jaune">OUI</span>
                                <span data-parent="#options-avis-recherche-2" class="capsule capsule-jaune">NON</span>
                                <span data-parent="#options-avis-recherche-2" class="capsule capsule-jaune">EN PARTIE</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 small-spacer texte-courant-semi-gras">
                            Pertinence de la liste des motifs les plus fréquents
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div id="options-avis-recherche-3">
                                <span data-parent="#options-avis-recherche-3" class="capsule capsule-jaune">OUI</span>
                                <span data-parent="#options-avis-recherche-3" class="capsule capsule-jaune">NON</span>
                                <span data-parent="#options-avis-recherche-3" class="capsule capsule-jaune">EN PARTIE</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="spacer">
                        <textarea class="form-control" rows="10" placeholder="Ajoutez un commentaire"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row spacer text-center">
        <div class="small-spacer col-xs-12 col-sm-offset-2 col-sm-4">
            <a>QUITTER LE TEST SANS TRANSMETTRE</a>
        </div>
        <div class="spacer visible-xs">&nbsp;</div>
        <div class="col-xs-12 col-sm-4 ">
            <a class="btn btn-default" href="remerciements.html">
                NOUS TRANSMETTRE VOTRE AVIS
            </a>
        </div>
    </div>
</article>