<article>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default spacer">
                <div class="panel-heading">
                    <h2 class="panel-title">EXPÉRIMENTION DE LA SAISIE DES MOTIFS D’ARRÊT DE TRAVAIL</h2>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 text-center">
                            <img class="spacer" src="img/visuel_pasDeChance.svg" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <h3>Aïe, pas de chance !</h3>
                            <p class="spacer">
                                La période d’expérimentation des motifs d’arrêt de travail</br>
                                est terminée depuis le <strong>JJ/MM/AAAA.</strong>
                            </p>
                            <p class="spacer">
                                A bientôt,
                            </p>
                            <img class="spacer" src="img/logo_calipso_message.svg" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>  
</article>