
@@if( exemple === "test-utilisateur"){
<header>
    <div class="padding-20 bg-blanc text-center">
        <a href="index.html"><img src="img/logo_cnam_amelipro.png" alt="amelipro" width="250" /></a>
    </div>
</header>
}

@@if( exemple == "default"){
<header>
    <div class="top-header-bg">
        <div class="container-fluid">
            <!--div class="row">
                <div class="col-xs-2">
                    <a class="lien-espacepro hidden-xs">
                        <span class="glyphicon glyphicon-home"></span>
                        ALLER SUR AMELIPRO 
                    </a>
                </div>
            </div-->
        </div>
        <div id="top-header-logo" class="top-header-logo">
            <a href="index.html"></a>
        </div>
    </div>
    <div class="application-header">
        <div class="container-fluid"> 
            <div class="row navigation">
                <div class="col-xs-6 text-left">
                </div>
                <!-- div class="col-xs-6 text-right popover-blanc info-user">
                    <strong class="hidden-xs">Prénom NOM</strong>
                    <button type="button" class="pictogramme-svg-user large margin-left-5"
                            data-toggle="popover"
                            data-trigger="click"
                            data-placement="bottom"
                            data-html="true"
                            data-content="
                            N° AM : 341999555<br/> marie.durand@fai.fr

                            <div class='info-user-footer text-center'>
                            <a class=''>DÉCONNEXION</a>
                            </div>
                            " >
                    </button>
                </div -->
            </div>
            <div class="row title">
                <div class="col-xs-12">
                    <h1 class="no-margin-left"><a>ARRÊT DE TRAVAIL</a></h1>
                </div>
            </div>
        </div>
    </div>
</header>
}