<article>
    <div class="row">
        <div class="col-xs-10 col-md-offset-1">

            <h2 class="text-center titre-page-test">
                Recherche des motifs d’<strong>Arrêt de travail</strong> <br/><br/>
                Partagez votre avis 
            </h2>

            <div class="panel panel-default spacer">

                <div class="panel-body text-center">

                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">

                            <div class="padding-10">
                                <img src="img/image_collaboratif_workshop.png" width="340" />
                            </div>

                            <p class="medium-spacer">
                                Nous avons écouté les utilisateurs du service <span class="texte-courant-semi-gras">“Arrêt de travail”</span> et retravaillé la <br>
                                recherche des motifs.
                            </p>
                            <p class="medium-spacer texte-courant-semi-gras">
                                Pour valider notre proposition, recherchez différents motifs de votre choix et  dites-nous ce que vous en avez pensé. 
                            </p>
                            <p class="medium-spacer">
                                  Pour quelques motifs recherchés, ce test vous prendra moins de 10 minutes.
                            </p>
                            <p class="spacer">
                                Un nouveau motif à rechercher ? Le test est en libre accès jusqu’au JJ/MM/AAAA.   
                            </p>
                            <p class="spacer">
                                <a href="recherche.html" class="btn btn-default">Démarrer la recherche</a>   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>