<article>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default spacer">
                <div class="panel-heading">
                    <h2 class="panel-title">EXPÉRIMENTATION DE LA SAISIE DES MOTIFS D’ARRÊT DE TRAVAIL</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <p>
                                Afin d’optimiser l’utilisation du téléservice d’arrêt de travail, nous
                                vous proposons de tester la sélection d’un motif d’arrêt.
                            </p>
                            <p class="texte-courant-semi-gras">
                                Cette expérimentation et l’enquête associée sont anonymes.
                            </p>
                            <p>
                                Vous pouvez tester autant de motifs que vous le souhaitez.
                                Vous pouvez aussi quitter et revenir pour tester à nouveau,
                                jusqu’à la fin de la période d’expérimention prévue le
                                <span class="texte-courant-semi-gras">JJ/MM/AAAA.</span>
                            </p>
                            <p>
                                N‘hésitez pas à nous faire part de vos remarques en cliquant sur
                                <br/>
                                <a class="texte-turquoise-3">DONNEZ-NOUS VOTRE AVIS</a>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="img/visuel_test.svg" class="hidden-xs" alt="TEST" width="120" height="90"/>
                            <a href="recherche.html" class="spacer btn btn-default">DÉMARRER LE TEST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>