<article>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default spacer">
                <div class="panel-heading">
                    <h2 class="panel-title">Merci de votre collaboration</h2>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 text-center spacer">
                            <img class="spacer" src="img/visuel_remerciements.svg" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <h3>Nous avons bien reçu votre avis !</h3>
                            <p class="spacer">
                                Nous vous remercions de votre collaboration, toujours <br/>
                                importante dans le cadre des améliorations continues<br/>
                                des services amelipro.
                            </p>
                            <p class="medium-spacer">
                                Vous pouvez à tout moment rechercher d’autres<br/>
                                motifs, jusqu’au JJ/MM/AAAA.  
                            </p>

                            <p class="spacer">
                                <a href="recherche.html" class="btn btn-default">Retourner à la recherche des motifs</a>   
                            </p>

                            <p class="spacer">
                                Vous souhaitez poser une question sur les ateliers de réflexion d'amelipro ?<br/>

                                Écrivez-nous à l'adresse : <span class="texte-courant-semi-gras"><a href="mailto:communaute_amelipro@cnamts.fr">communaute_amelipro@cnamts.fr</a></span>
                            </p>

                            <p class="spacer">
                                <span class="texte-courant-semi-gras">L’equipe amelipro</span>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>  
</article>