<article>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default spacer">
                <div class="panel-heading">
                    <h2 class="panel-title">EXPÉRIMENTION DE LA SAISIE DES MOTIFS D’ARRÊT DE TRAVAIL</h2>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 text-center">
                            <img class="spacer" src="img/visuel_remerciements.svg" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <h3>Merci !</h3>
                            <p class="spacer">
                                Votre avis a bien été transmis.</br>
                                Nous vous remercions d’avoir participé à cette expérimentation.
                            </p>
                            <p>
                                Vous pouvez à tout moment refaire des tests,</br>
                                jusqu’à la fin de la période le <strong>JJ/MM/AAAA</strong>.
                            </p>
                            
                            <img class="spacer" src="img/logo_calipso_message.svg" />
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
</article>