
/*ZONE ACTIONS*/
#actions {
	display:block;
	position:relative;
	top:0;
	left:0;
	height:30px;
	width:950px;
	background-color:#605D5C;
	font-size:0.75em;
}
#btAccueil {
	position:absolute;
	top:10px;
	left:30px;
	width:70px;
	height:20px;
	background:transparent;	
	font-weight:bold;
}
#derniereConnexion {
	position:absolute;
	top:10px;
	left:560px;
	width:260px;
	height:20px;
	background:transparent;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	color:white;
	padding:6px;
}
#btDeconnexion {
	position:absolute;
	top:10px;
	left:838px;
	width:110px;
	height:20px;
	background:transparent;
	font-weight:bold;
}

#btAccueil a.btAccueil {
	background: transparent url(../images/bouton_accueil_a.png) no-repeat top right; 
	display:block;
	float:left;
	height:20px;
	margin:0 6px 0 0;
	padding:0 7px 0 0;
	text-decoration:none;
	color:white;
}
#btAccueil a.btAccueil span {
    background: transparent url(../images/bouton_accueil_span.png) no-repeat;
    display:block;
    line-height:20px;
    padding:0 0 0 5px;
	text-decoration:none;
}
#btAccueil a.btAccueil:hover span{
	text-decoration:none;
	color:white;
}

#btDeconnexion a.btDeconnexion {
	background: transparent url(../images/bouton_deconnexion_a.png) no-repeat top right; 
	display:block;
	float:left;
	height:20px;
	margin:0 6px 0 0;
	padding:0 7px 0 0;
	text-decoration:none;
	color:white;
}
#btDeconnexion a.btDeconnexion span {
    background: transparent url(../images/bouton_deconnexion_span.png) no-repeat;
    display:block;
    line-height:20px;
    padding:0 0 0 5px;
	text-decoration:none;
}
#btDeconnexion a.btDeconnexion:hover span{
	text-decoration:none;
	color:white;
}


