
.entete_rubrique{
	width:636px;	
	margin:0 0 30px 0;
	padding:0;
	height:auto !important;
	height:135px;
	min-height:135px;
}

.chapeau{
	display:block;
	padding:0;
	margin:0 0 10px;
	background-color:#F3F3F2;
}
.chapeau.gauche{width:250px;margin:0 15px 30px 0;float:left;}
.chapeau.large{width:100%;margin:0 30px 30px 0;}
.chapeau img{
	float:left;
	width:auto;
	max-width:230px;
	margin:3px 10px 5px 0;
}
.chapeau p{
	color: #555555;
	margin:0 0 10px;
	font-weight:bold;
}
.chapeau span#date,.chapeau span#auteur{font-weight:normal}
.chapeau .message_bleu,.chapeau .message_ocre{
	display:table-cell;
	height:30px !important;
}
.media{
	display:table-cell;
	float:right;
	margin:5px 0 5px 15px;
	padding:0;
	max-width:50%;
}
.media img{width:100%;border:1px solid #ececec;}
.media  p.legende{
	display:block;
	font-size:0.9em;
	font-style:italic;
	margin:0 !important;
	max-width:100%;
}
a.article{
	font-weight:bold;
}
.nota{	
	width:100%;
	margin:0 0 30px 0;
	background-color:#F5F5F5;
}
.nota p{
	padding:10px !important;
	font-style:italic;
	font-weight:bold;
}
.autresArticles{	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:100%;
	margin:20px 0;
	padding:10px 10px 10px;
	background-color:#F5F5F5;
}
.autresArticles h4,.autresArticles h4:first-child{
	margin:0 !important;
	padding:0 0 7px 10px !important;
	background:none;
}

.paginationArticle{
	width:100%;
	height:25px;
	display:block;
	padding:0;
	margin:0;
	text-align:center;
	vertical-align:top;
}
.paginationArticle img{
	display:inline-block;
}
.paginationArticle span{
	position:relative;
	top:-5px;
	display:inline-block;
	text-align:center;
	padding:0 3px;
	margin:0;
	font-family:arial !important;
	color:#2A2A29 !important;
}

.signets{
	float:left;
	display:block;
	width:370px;
	margin:0 0 30px 0;
	background-color:#F5F5F5;
}
.signets ul{
	margin:0;
	padding:0;
	background:transparent;
	width:350px;
}
.signets li{
	list-style-type: none;
	background:url(../images/flecheBleuePetite.gif) no-repeat;
	margin:0 0 5px 0;
	padding:0 0 0 15px;
	height:auto !important;
	height:16px;
	min-height:16px;
	line-height:1.2em;
}


