
.bulle{
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-khtml-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
	behavior:url(PIE.htc);
	padding:0;
	margin:0 0 20px 0;
}

.bulle.indicateur{
	position:relative;
	width:141px;
	height:auto !important;
	height:50px;
	min-height:50px;
	margin:0 0 20px 0 !important;
	padding:8px;	
	border:none;
	color:#52380C;
	-moz-box-shadow: 2px 2px 10px #999;
	-webkit-box-shadow: 2px 2px 10px #999;
	background: #ffd64e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd64e 20%, #ffae25 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffd64e), color-stop(100%,#ffae25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd64e 20%,#ffae25 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd64e 20%,#ffae25 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd64e 20%,#ffae25 100%); /* IE10+ */
	background: linear-gradient(top,  #ffd64e 20%,#ffae25 100%); /* W3C */
	
}
.bulle.indicateur .triangle{
	position:absolute;
	top:15px;
	left:-15px;
	border-color: transparent #ffd64e transparent transparent;
    border-style:dotted solid dotted dotted;
    border-width:8px;
    width:0;
    height:0;
}
.bulle.indicateur p{
	line-height:1.1em;
	margin:0;
	padding:0;
}
.bulle.indicateur p > img{
	position:relative;
	top:3px;
	margin:0;
	padding:0;
}



