
#echange{
	width:615px;
	height:auto !important;
	height:5px;
	min-height:5px;
	padding:0;
	margin:0;
}
.serviceAM{
	width:561px;
	height:auto !important;
	height:30px;
	min-height:30px;
	background:url(../images/echange_sm.gif) no-repeat top right;
	background-color:#DFE8F4;
	margin:0 0 10px 18px;
	padding:8px 26px 8px 8px;
}
.utilisateur{
	width:561px;
	height:auto !important;
	height:30px;
	min-height:30px;
	background:url(../images/echange_praticien.gif) no-repeat top left;
	background-color:#EDEDED;
	margin:0 18px 10px 0;
	padding:8px 8px 8px 26px;
}
.serviceAM p.auteur,.utilisateur p.auteur{
	margin:0 0 3px 0 !important;
	font-weight:bold;
	color:#000 !important;
}
.serviceAM p,.utilisateur p{
	margin:0 !important;
	color:#000 !important;
}