/*ZONE GRAPHES*/
.zoneGraphe{
	clear:both;	
	width:100%;
	padding:0 0 5px;
	margin:0 0 10px;
	border-bottom:1px dotted #C5C4B9;
}
.titreGraphe{
	position:relative;
	height:auto !important;
	height:20px;
	min-height:20px;
	height:20px;
	line-height:20px;
	border-top:1px dotted #C5C4B9;
}
.titreGraphe h5{width:80%;line-height:1.2em;margin:0;padding:5px 0 0 0;}
.titreGraphe span{
	position:absolute;
	top:0;
	right:0;
	margin:3px 0 0 0;
	padding:0 30px 0 0;
	cursor:pointer;
}
.graphe{
	clear:both;
	height:auto !important;
	height:10px;
	min-height:10px;
	margin:15px 0 0 0;
}
.graphe .container{
	margin:0;
	padding:0;
}
