/* PIEDS DE PAGE */
#footer {
	clear:both;
	height:30px;
	width:950px;
	background-color:#848484;
	text-align:left;
	margin:0;
	padding:0;
	font-size:0.9em;
}
#footer h2{
	position:absolute;
	top:-300px;
}
#footer #liensGauches{
	float:left;
	margin:0;
	padding:0 0 0 30px;
	width:400px;
	height:30px;
}
#footer ul{
	margin:0;
	padding:0;
	color:white;
	list-style-type:none;
	line-height:20px;
}
#footer li{
	display:inline-block;
	margin:0 2em 0 0;	
	line-height:30px;
}
#footer li.vosTelechargements{
	background:url(../images/picto_pageTelechargement.png) no-repeat center left;
	padding:0 0 0 23px;
	margin:0;
}
#footer a{
	text-decoration:none;
	color:white;
}
#footer a:hover{
	text-decoration:underline;
	color:white;
}
#footer #prerequis{
	float:right;
	margin:0;
	padding:0 30px 0 0;
	height:30px;
	width:250px;
}
#prerequis img{
	margin:2px 0;
}
#prerequis a{
	float:right;
	line-height:30px;
	margin:0 0 0 10px;
}
/* FIN PIEDS DE PAGE */

